<% content_for(:title, "Posts | Blogger") %>

<h1>Rails Blogger</h1>

<% if @posts.any? %>

  <h3>All Posts:</h3>

  <%= render @posts.reverse %>

<% else %>

  <h3>No posts exist yet. Become the first user to post!</h3>

<% end %>
